<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container" data-toggle="clingify">
        <div class="row">
            <div class="navbar-header">
                <a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar">Go Ftp管理系统</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="hidden-xs logo" href="/">
                    <a class="navbar-brand" href="/">
                    <img style="height:36px;" src="/img/favicon.png">
                        Go Ftp
                    </a>
                </a>
            </div>
            <div class="collapse navbar-collapse" role="navigation" id="navbar-collapse">
                <ul class="nav navbar-nav">
                {{if .IsAdmin}}
                    <li{{if call .isCurModule 1}} class="active"{{end}}><a href="/user">用户管理</a></li>
                    <li{{if call .isCurModule 2}} class="active"{{end}}><a href="/group">组管理</a></li>
                    <li{{if call .isCurModule 3}} class="active"{{end}}><a href="/perm">权限管理</a></li>
                    {{end}}
                </ul>
                    <ul class="nav navbar-nav navbar-right">
                     <li{{if call .isCurModule 4}} class="active"{{end}}><a href="/user/chgpass">修改密码</a></li>
                    <li><a href="/logout">退出 </a></li>
                    </ul>
            </div>
        </div>
    </div>
</nav>