{{template "base/base.html" .}}
{{template "base/common.html" .}}

{{define "body"}}
<div class="text-right" style="padding:10px;padding-top:60px"><a href="/group/add" class="btn btn-large btn-primary">添加</a>
	</div>
<table class="table table-bordered table-hover">
    <thead>
        <th>用户名</th><th>创建时间</th><th>操作</th>
    </thead>
    <tbody>
    {{$admin := .T.admin}}
	{{range .T.groups}}
	<tr><td>{{.}}</td><td></td>
		<td>
		{{if ne . $admin}}
		<a class="btn btn-warning" href="/group/edit?name={{.}}">修改</a>
            <a class="btn btn-danger" href="/group/del?name={{.}}">删除</a>
            {{end}}</td></tr>
	{{end}}
</tbody>
</table>
{{end}}