<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{StaticUrl "css/bootstrap-theme.css"}}"/>
<link href="{{StaticUrl "css/bootstrap.css"}}" rel="stylesheet">
<script src="{{StaticUrl "js/jquery.min.js"}}"></script>
<script src="{{StaticUrl "js/bootstrap.js"}}"></script>
<link rel="stylesheet" href="{{StaticUrl "css/bootstrap-theme.css"}}" />
<!--<link rel="stylesheet" href="{{StaticUrl "css/font-awesome.min.css"}}" />-->