<!DOCTYPE html>
<html lang="zh-cn">
<head>
{{include "head.html"}}
</head>
<body>
	<div class="container">
		 {{include "nav.html"}}
		 <div style="padding:10px;padding-top:60px">
    <form class="form-horizontal" method="post">
    	{{XsrfFormHtml}}
	<legend>修改账号：{{.T.user.Name}}</legend>
<div class="control-group">
<label class="control-label" for="inputEmail">账号名称：</label>
<div class="controls">
<input type="text" name="name" value="{{.T.user.Name}}"/>
</div>
</div>
<div class="control-group">
<label class="control-label" for="inputEmail">
	账号密码：</label>
	<div class="controls"><input type="password" name="pass" value="{{.T.user.Pass}}"/>
	</div>
</div>
<div class="control-group">
<div class="controls">
	<input type="submit" class="btn btn-large btn-primary" value="保存"/>
</div>
</div>
</form>
</div>
</div>
{{include "foot.html"}}
</body>
</html>